.row {
    padding: 0;
    padding-top: 20px;
}

.btn {
    padding: 1em;
    margin-bottom: 1em;
    height: 5.5em;

    &.adder {
        opacity: .3;
        border-style: dashed;
    }

    span {
        font-size: .8em;
        margin-top: .5em;
    }
}

.badge-delete {
    position: absolute;
    top: -5px;
    left: 5px;
    background-color: #c00;
}
