<app-navbar-top [heading]="device.name"></app-navbar-top>

<a class="btn btn-link edit-switcher" (click)="toggleEditing()"><i class="fa fa-{{ isEditing ? 'check' : 'cog' }}"></i></a>

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <ul class="nav nav-tabs">
            <li *ngFor="let tab of tabs; let i = index" class="{{ i === index ? 'active' : '' }}">
                <a routerLink="{{ '../../tab/' + i }}">
                    {{ tab.name }}
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div *ngFor="let tab of tabs; let i = index" class="tab-pane {{ i === index ? 'active' : '' }}">
                <app-remote-tab-content [device]="device" [isEditing]="isEditing" [buttons]="tab.buttons"></app-remote-tab-content>
            </div>
        </div>
    </div>
</div>
