<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-wifi fa-rotate-90"></i> Device name</li>
        </ol>

        <app-remote-tabs></app-remote-tabs>

        <div class="row">
            <div class="col-xs-6">
                <button type="button" class="btn btn-block btn-default"><i class="fa fa-times"></i> Cancel</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
    </div>
</div>
